:root {
	--primary: #0e8999;
	--primary2:rgb(117, 30, 216);
	--secondary: #8A4EFC;
	--light: #EEE;
	--light-alt: #418b9e;
	--dark: #131A26;
	--dark-alt: #202B3E;
}
body {
	background-color: var(--dark-alt);
	color: var(--light);
}
.node {
  width: 25px;
  height: 25px;
  margin:0;
  margin-bottom: -1.75px;
  margin-top: -1.75px;
  outline: 0.25px solid #0e8999;
  ;
  display: inline-block;
}

.node-finish {
  background-color: rgb(150, 3, 118);
  outline: 0.25px solid rgb(150, 3, 118);
}

.node-start {
  background-color: green;
}

.node-visited {
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: lightpink;
    border-radius: 100%;
  }

  50% {
    background-color: pink;
  }

  75% {
    transform: scale(1.2);
    background-color: rgb(247, 114, 114);
  }

  100% {
    transform: scale(1);
    background-color: rgb(247, 80, 80);
  }
}
.node-wall {
  animation-name: wallAnimation;
  animation-duration: .5s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes wallAnimation {
  0% {
    transform: scale(0.6);
    background-color:	#0e8999;
    ;
  }

  50% {
    transform: scale(0.8);
    background-color: #0e8999;
  }

  100% {
    transform: scale(1.0);
    background-color: #0e8999;
  }
}
.node-weight {
  animation-name: weightAnimation;
  animation-duration: .5s;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}
@keyframes weightAnimation {
  0% {
    transform: scale(0.6);
    background-color: rgb(6, 150, 138);
  }

  50% {
    transform: scale(0.8);
    background-color: rgb(6, 150, 138);
  }

  100% {
    transform: scale(1.0);
    background-color: rgb(6, 150, 138);
  }
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}
